<!--MODAL SIGN-UP-->
  <div class="container modal fade sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="sign-up">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <h1 class="modal-logo">SoftSurv</h1>
        <h4 class="modal-title">Sign up, it won't take long</h4>
        <p class="sign-up-error hidden">Invalid Signup</p>
        <form id="sign-up-form" class="modal-form modal-sign-up-section text" action="index.html" method="post">
          <input class="input-fields" type="text" name="credentials[email]" value="" placeholder="Email">
          <br>
          <input class="input-fields" type="password" name="credentials[password]" value="" placeholder="Password">
          <br>
          <input class="input-fields" type="password" name="credentials[password_confirmation]" value="" placeholder="Password Confirmation">
          <br>
          <br>
          <input id="login-button" type="submit" name="submit" class="btn btn-primary input-fields" value="Signup">
        </form>

      </div>
    </div>
  </div>

<!--MODAL SIGN-IN-->
  <div class="modal fade sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="sign-in">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <h1 class="modal-logo">SoftSurv</h1>
        <h4 class="modal-title">Log into your account</h4>
        <p class="sign-in-error hidden">Invalid Signin</p>
        <form id="sign-in-form" class="modal-form modal-sign-in-section text" action="index.html" method="post">
          <input class="input-fields" type="text" name="credentials[email]" value="" placeholder="Email">
          <br>
          <input class="input-fields" type="password" name="credentials[password]" value="" placeholder="Password">
          <br>
          <br>
          <input id="login-button" type="submit" name="submit" class="btn btn-primary input-fields" value="Login" data-toggle="modal">
        </form>

      </div>
    </div>
  </div>


<!--MODAL CHANGE PW-->
  <div class="modal fade change-pw-modal" tabindex="-1" role="dialog" aria-labelledby="sign-up">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <h1 class="modal-logo">SoftSurv</h1>
        <h4 class="modal-title">Change your password</h4>
        <p class="change-pw-error hidden">Invalid Passwords</p>
        <form id="change-pw-form" class="modal-form modal-change-pw-section text" action="index.html" method="patch">
          <input class="input-fields" type="password" name="passwords[old]" value="" placeholder="Old Password">
          <br>
          <input class="input-fields" type="password" name="passwords[new]" value="" placeholder="New Password">
          <br>
          <br>
          <input id="change-pw" type="submit" name="submit" class="btn btn-primary input-fields" value="Change Password">
        </form>

      </div>
    </div>
  </div>
