<div class="modal fade new-survey-modal" tabindex="-1" role="dialog" aria-labelledby="new-survey">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <h4 class="modal-title">Create a new Survey</h4>

      <form id="new-survey-form" class="modal-form modal-new-survey-section text" action="index.html" method="post">
        <div>
          <input class="survey-question input-fields" type="text" name="survey[question]" value="" placeholder="Survey Question">
        </div>
        <div class="survey-options-container center-block">
          {{>survey-option-field}}
        </div>
        <div>
          <button class="btn add-option-button"><span class="glyphicon glyphicon-th-list"></span></button>
        </div>
        <div>
          <input id="create-survey-button" type="submit" name="submit" class="btn add-mint-to-button input-fields" value="Create Survey">
        </div>
      </form>

    </div>
  </div>
</div>
