
<div class="modal fade new-survey-modal" tabindex="-1" role="dialog" aria-labelledby="new-survey">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <h4 class="modal-title">Create a new Survey</h4>

      <form id="new-survey-form" class="modal-new-survey-section text" action="index.html" method="post">
        <div>
          <input class="input-fields" type="text" name="survey[question]" value="" placeholder="Survey Question">
        </div>
        <div class="survey-options-container">
          {{>survey-option-field}}
        </div>
        <div>
          <button class="add-option-button">Add Option</button>
        </div>
        <div>
          <input id="login-button" type="submit" name="submit" class="btn btn-primary input-fields" value="Create Survey">
        </div>
      </form>

    </div>
  </div>
</div>
