
<div class="modal fade new-survey-modal" tabindex="-1" role="dialog" aria-labelledby="new-survey">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <h4 class="modal-title">Create a new Survey</h4>

      <form id="new-survey-form" class="modal-new-survey-section text" action="index.html" method="post">
        <input class="input-fields" type="text" name="survey[question]" value="" placeholder="Survey Question">
        <br>
        <input class="input-fields" type="text" name="survey[options]" value="" placeholder="First Option">
        <br>
        <br>
        <input id="login-button" type="submit" name="submit" class="btn btn-primary input-fields" value="Create Survey">
      </form>

    </div>
  </div>
</div>
