<div>
  <input class="input-fields" type="text" name="survey[options][]" value="" placeholder="Enter Option">
  <button type="button" class="delete-option-button btn-link" onclick="$(this).parent().remove()">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button>
  <!-- Delete Button onclick removes parent div-->
</div>
