$black: black;
$white: white;
$whipped-cream: #fefbea;
$tan-vanilla: #fdf5c9;
$green-mint: #c2f2d0;
$strawberry-icecream: #f5b1af;
$pink-strawberry: #ffc5d9;
$chocolate: #6b3e26;
$orange-sorbet: #ffcb85;




body{
  //background-color: $whipped-cream;
}
.nav > li{
  color:$strawberry-icecream;
}
.web-site-title {
  color: $chocolate;
}
.modal-logo{
  color: $chocolate;
}
.landing-message{
  background-color: $orange-sorbet;
}
.panel-heading {
  background-color: $strawberry-icecream;
}
.clickable-pills h2{
  color: $chocolate;
}
.main-background {
  background: $whipped-cream;
}
.link-background {
  background: $green-mint;
}

#navbar a {
  color: $chocolate;
  font-size: 18px;
  font-weight: bolder;
}
#navbar a:hover{
  background-color: $green-mint;
}

#floating-action-button{
    color: $chocolate;
}
.floating-add-button{
  background: $green-mint;
  color:#FFF;
  box-shadow: 0 0px 6px rgba(0,0,0,0.16), 0px 5px 6px rgba(0,0,0,0.23);
  transition:.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
