
.title-header-section{
  padding-top: 25px;
  padding-bottom: 25px;
}
.clickable-pills {
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
}
.clickable-pills h2{
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal-title{
  padding-top: 20px;
  padding-bottom: 20px;
}


// REFACTOR all floating action buttons
#floating-action-button{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 18px;
    color: #6b3e26;
}

.floating-add-button{
  width:60px;
  height:60px;
  border-radius:100%;
  background: #c2f2d0;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 0px 6px rgba(0,0,0,0.16), 0px 5px 6px rgba(0,0,0,0.23);
  transition:.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.floating-add-button {
  transform:scale(1.1);
  transform:rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
