
body{

}

.title-header-section{
  padding-top: 25px;
  padding-bottom: 25px;
}
.clickable-pills {
  width: 50%;
  margin: 0 auto;
  border-radius: 50px;
}
.clickable-pills h2{
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-title{
  padding-top: 20px;
  padding-bottom: 20px;
}
.sign-up-error,
.sign-in-error,
.change-pw-error {
  text-align: center;
}
.modal-logo{
  padding-top: 10px;
}
.input-fields{
  width: 100%;
  // margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.survey-question{
  margin-bottom: 40px;
}

.modal-form{
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
}

// REFACTOR all floating action buttons
#floating-action-button{
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.floating-add-button{
  width:80px;
  height:80px;
  border-radius:100%;
  border:none;
  outline:none;
  box-shadow: 0 0px 6px rgba(0,0,0,0.16), 0px 5px 6px rgba(0,0,0,0.23);
  transition:.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.floating-add-button {
  transform:scale(1.1);
  transform:rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.hidden {
  display: none;
}

.thanks-div {
  background-color: $chocolate;
  color: $whipped-cream;
  text-align: center;
}


.survey-response-form-holder{
  width: 60%;

}
.response-pills {
  margin: 0 auto;
}
.response-pills-heading{
  border-radius: 50px;
}
.response-pill-body{
  padding-top: 25px;
  padding-bottom: 50px;
}
.response-pills h2{
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.survey-form-submit-button{
  border-radius: 50px;
  width: 50%;
}
.thanks-div{
  width: 60%;
}
