
$softsurv-border-radius: 20px;

body{

}

.title-header-section{
  padding-top: 25px;
  padding-bottom: 25px;
}
.clickable-pills {
  width: 50%;
  margin: 0 auto;
  border-radius: 50px;
}
.clickable-pills h2{
  padding-top: 10px;
  padding-bottom: 10px;
}


.modal-title{
  padding-top: 20px;
  padding-bottom: 20px;
}
.sign-up-error,
.sign-in-error,
.change-pw-error {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal-logo{
  padding-top: 10px;
}
.input-fields{
  width: 100%;
  // margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.survey-question{
  margin-bottom: 40px;
}

.modal-form{
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
}
.delete-survey{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  border-color: $strawberry-icecream;
  background-color: $strawberry-icecream;
}

#create-survey-button{
  border-radius: 50px;
  margin-top: 50px;
}
// REFACTOR all floating action buttons
#floating-action-button{
    position: fixed;
    bottom: 50px;
    right: 50px;
}
#floating-action-button span{
    color: $strawberry-icecream;
}
.add-mint-to-button{
  background-color: $green-mint;
}
.floating-add-button{
  width:80px;
  height:80px;
  border-radius:100%;
  border:none;
  outline:none;
  box-shadow: 0 0px 6px rgba(0,0,0,0.16), 0px 5px 6px rgba(0,0,0,0.23);
  transition:.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.floating-add-button {
  transform:scale(1.1);
  transform:rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.hidden {
  display: none;
}



.thanks-div {
  background-color: $chocolate;
  color: $whipped-cream;
  text-align: center;
}


.survey-response-form-holder{
  width: 60%;

}
.response-pills {
  margin: 0 auto;
}
.response-pills-heading{
  border-radius: 50px;
}
.response-pill-body{
  padding-top: 25px;
  padding-bottom: 50px;
}
.response-pills h2{
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.survey-form-submit-button{
  border-radius: 50px;
  width: 50%;
}
.thanks-div{
  width: 60%;
}
.add-option-button{
  border-radius: 50px;
  width: 20%;
  display: block;
  margin: 0 auto;
}

.add-whipped-cream-to-button{
  margin-top: 25px;
}

.splash-message {
  display: block;
  margin: 0 auto;
  text-align: center;
}


// Styling for survey results tables

table {
  border-collapse: collapse;
  margin: 20px auto;

  th {
    background-color: $green-mint;
    padding: 10px 20px;
  }

  td {
    padding: 5px 20px;
  }

  .left-col {
    text-align: left;
  }
}

// Rounder Borders
.modal-content {
  border-radius: $softsurv-border-radius;
}
.survey-panel.panel {
  border-radius: $softsurv-border-radius;
}
.panel-heading {
  border-radius: $softsurv-border-radius $softsurv-border-radius 2px 2px;
}
.input-fields {
  border-radius: $softsurv-border-radius;
}
a.btn-link,button {
  border-radius: $softsurv-border-radius;
}
.response-pills {
  border-radius: $softsurv-border-radius;
}
.panel-collapse {
  padding-bottom: 20px;
}
