$title-font: 'Indie Flower';


body{
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar li{
  font-size: 18px;
}
//find different font
.web-site-title{
  font-family: 'Indie Flower', 'cursive';
  text-align: center;
  font-weight: 900;
  font-size: 100px;
}
.modal-logo{
  text-align: center;
  font-family: 'Indie Flower', 'cursive';
  font-weight: 900;
}
.landing-message{
  font-size: 18px;
  text-align: center;
}
.clickable-pills h2{
  text-align: center;
  font-size: 18px;
}

.modal-title{
  text-align: center;
}
#floating-action-button{
    font-size: 18px;
}
.floating-add-button{
  font-size:36px;
}
