$title-font: 'Indie Flower';


body{
  font-family: 'Roboto Condensed', sans-serif;
}
.web-site-title{
  font-family: 'Indie Flower', 'cursive';
  text-align: center;
  font-weight: bolder;
  font-size: 100px;
}
.clickable-pills h2{
  text-align: center;
}
